.feedback__container {
  display: flex;
  margin: 0;
  padding: 0 30px 0 30px;
  gap: 10px;
}

.feedback__btn {
  cursor: pointer;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  text-align: center;
  background-color: #f3f6f9;
  color: #000;
  transition: color 500ms;
}

.feedback__btn:hover {
  color: white;
}

.feedback__btn:nth-child(1) {
  background-color: green;
}

.feedback__btn:nth-child(2) {
  background-color: orange;
}

.feedback__btn:nth-child(3) {
  background-color: red;
}
