.feedback {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  width: 350px;
  border-radius: 20px;
  background-color: #880041;
  color: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.feedback__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px 0 20px 0;
}
